.hero-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background-color: #f5f5f5;
}

.hero-container {
  width: 90%;
  max-width: 1200px;
  height: 520px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 50px 90px rgba(4,4,4,9);
}

.slide {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide.active {
  display: block;
  animation: fade 1.5s;
}

.slide img {
  width: 100%;
  height: 125%;
  object-fit: cover;
}

.slide-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
  background: rgba(73, 73, 73, 0.0);
  padding: 50px 50px;
  border-radius: 10px;
  max-width: 80%;
}

.slide-content h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-shadow: 1px 1px 5px rgba(46, 45, 45, 0.7);
}

.slide-content p {
  font-size: 1.2rem;
  margin-bottom: 15px;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
}

.read-more {
  color: #ffcc00;
  text-decoration: none;
  font-weight: 500;
  border: 0.5px solid #ffcc00;
  padding: 5px 30px;
  border-radius: 4px;
   font-size: 0.7rem;
}

.read-more:hover {
  background-color: #ffcc00;
  color: black;
}

/* Arrows */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  background-color: rgba(0,0,0,0.3);
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  user-select: none;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.6);
}

.prev { left: 15px; }
.next { right: 15px; }

/* Dots */
.dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background-color: rgba(67, 66, 66, 0.5);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active-dot {
  background-color: #4c00ff;
}

/* Fade animation */
@keyframes fade {
  from {opacity: 0.4;}
  to {opacity: 1;}
}

/* Mobile */
@media screen and (max-width: 768px) {
  .hero-container { height: 300px; }
  .slide img { height: 300px; }
  .slide-content h2 { font-size: 1.5rem; }
  .slide-content p { font-size: 1rem; }
  .read-more { padding: 5px 12px; font-size: 0.9rem; }
  .prev, .next { font-size: 1.5rem; padding: 7px 12px; }
}
@media (max-width: 768px) {

  .slide-text {
    font-size: 18px !important;
    padding: 0 15px;
    text-align: center;
  }

  .slide-text h1,
  .slide-text h2 {
    font-size: 20px !important;
  }

  .slide-text p {
    font-size: 14px !important;
  }

  .read-more-btn {
    padding: 8px 16px;
    font-size: 14px;
  }

  .slider-container {
    height: 300px !important;
  }

}
