.video-section {
  padding: 50px 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.section-title {
  font-size: 2.2rem;
  color: #003366;
  font-weight: 600;
  margin-bottom: 20px; /* space between title and container */
}

.video-container {
  width: 100%;
  max-width: 800px; /* width of the container */
  margin: 0 auto;   /* center horizontally */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 25px rgba(0,0,0,0.3); /* nice shadow */
}

.video-container video {
  width: 100%;
  height: auto;
  display: block;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  .section-title {
    font-size: 1.8rem;
  }
  .video-container {
    max-width: 95%;
  }
}
.register-btn-container {
  margin-top: 25px;
  text-align: center;
}

.register-btn {
  background-color: #1c70e4;
  color: rgb(237, 240, 243);
  padding: 15px 35px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.1rem;
  transition: transform 0.2s, box-shadow 0.2s;
  
}

.register-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(10, 46, 247, 0.3);
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  .register-btn {
    padding: 10px 25px;
    font-size: 1rem;
  }
}
